@model SistemaEducacion.WebEntities.User
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hold-transition login-page">
    <div class="login-box">

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Cambiar contraseña</p>

                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m=> m.EmailUser, new { @class = "form-control", @placeholder = "Correo Electrónico", @type = "Email", @required = "true", @readonly = "true" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.TemporalPassword, new { @class = "form-control", @placeholder = "Contraseña Temporal", @type = "Password", @required = "true" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.PasswordUser, new
                            {
                                @class = "form-control",
                                @placeholder = "Nueva Contraseña",
                                @type = "Password",
                                @required = "true",
                                @pattern = "^((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).{6,20})"
                            })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.MsjScreen != null)
                    {
                        <div class="alert alert-warning" role="alert" style="text-align:center">
                            @ViewBag.MsjScreen
                        </div>
                    }

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Procesar</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
