@model IEnumerable<SistemaEducacion.WebEntities.User>
@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="margin-top:50px">Cursos</h1>
<h5 class="text-center mb-100">Acá puedes encontrar nuestros cursos disponibles con su respectiva información:</h5>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://woz-u.com/wp-content/uploads/2022/06/Evolution-of-Coding-scaled.jpg" class="img-fluid mb-3" alt="Imagen de Curso">
                    <h2 class="card-title">Curso de Desarrollo Web con ASP.NET Core</h2>
                    <p class="card-text">Instructor: Jane Smith</p>
                    <p class="card-text">Fecha de Inicio: 15/03/2024</p>
                    <a href="DetallesCurso.html" class="btn btn-success">Ver más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://woz-u.com/wp-content/uploads/2022/06/Evolution-of-Coding-scaled.jpg" class="img-fluid mb-3" alt="Imagen de Curso">
                    <h2 class="card-title">Curso de Programación en C#</h2>
                    <p class="card-text">Instructor: John Doe</p>
                    <p class="card-text">Fecha de Inicio: 01/03/2024</p>
                    <a href="DetallesCurso.html" class="btn btn-success">Ver más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://woz-u.com/wp-content/uploads/2022/06/Evolution-of-Coding-scaled.jpg" class="img-fluid mb-3" alt="Imagen de Curso">
                    <h2 class="card-title">Nombre del Curso</h2>
                    <p class="card-text">Instructor que imparte</p>
                    <p class="card-text">Fecha de Inicio</p>
                    <a href="DetallesCurso.html" class="btn btn-success">Ver más detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>
