@model SistemaEducacion.WebEntities.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <img src="https://thispersondoesnotexist.com/" class="img-fluid rounded-circle mb-3" alt="Foto de perfil">
        </div>
        <div class="col-md-8 align-self-center">
            <h2>Nombre Apellido</h2>
            <p><strong>Correo electrónico:</strong> usuario@example.com</p>
            <p><strong>Tipo de Cuenta:</strong> Estudiante</p>
            <p><strong>Suscripción Actual:</strong> Suscripción Premium</p>
            <button type="button" class="btn btn-success">Modificar datos</button>
            <button type="button" class="btn btn-success">Cambiar plan</button>
            <button type="button" class="btn btn-success">Cambiar contraseña</button>
        </div>
    </div>
</div>