@model IEnumerable<SistemaEducacion.WebEntities.User>
@{
    ViewData["Title"] = "Profesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4" style="margin-top:50px">Profesores</h1>
<h5 class="text-center mb-100">Conoce a nuestros destacados profesores y su información de contacto respectiva</h5>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://thispersondoesnotexist.com/" alt="Fotografía del profesor 2" class="img-fluid rounded-circle profesor-img">
                    <h2 class="card-title">Nombre y Apellidos del Profesor</h2>
                    <p class="card-text">Estado del profesor</p>
                    <p class="card-text">Correo Electrónico: profesor@example.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://thispersondoesnotexist.com/" alt="Fotografía del profesor 2" class="img-fluid rounded-circle profesor-img">
                    <h2 class="card-title">Nombre y Apellidos del Profesor</h2>
                    <p class="card-text">Estado del profesor</p>
                    <p class="card-text">Correo Electrónico: profesor@example.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://thispersondoesnotexist.com/" alt="Fotografía del profesor 2" class="img-fluid rounded-circle profesor-img">
                    <h2 class="card-title">Nombre y Apellidos del Profesor</h2>
                    <p class="card-text">Estado del profesor</p>
                    <p class="card-text">Correo Electrónico: profesor@example.com</p>
                </div>
            </div>
        </div>
    </div>
</div>