@model SistemaEducacion.WebEntities.Lesson
@{
    ViewData["Title"] = "AddCourse";
    ViewData["Title"] = "Clases";
    string currentUrl = Context.Request.Path;
    string[] segments = currentUrl.Split('/');
    int courseId = int.Parse(segments[segments.Length - 1]);
}

<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs mt-0" data-aos="fade-in">
        <div class="container">
            <h2>Crear una clase</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact pt-0">
        <div data-aos="fade-up" style="position: relative; z-index: -2;">
            <img style="border:0; width: 100%; height: 350px;" src="https://cantiedu.blob.core.windows.net/videos-container/fondoCurso.jpeg?sp=r&st=2024-04-26T22:34:13Z&se=2024-05-24T06:34:13Z&spr=https&sv=2022-11-02&sr=b&sig=eoGCYj%2FwV4%2FSVVzDcSoSaOIWZX7S%2Fl0MOrOwn8KcjUQ%3D" frameborder="0" allowfullscreen></img>
        </div>

        <div class="container shadow" data-aos="fade-up mt-4" style="
        position: relative;
        z-index: 2;
        background: white;
        padding: 20px;
        border-radius: 10px;
        margin-top: -150px;
    ">
            <div class="col-lg-12 mt-5 mt-lg-0 p-4">
                <h2 class="pt-4 text-center">Primer Paso</h2>
                <h3 class="pt-4 text-center">Agrega los titulares</h3>
                <!--cLASS php-email-form-->
                @using (Html.BeginForm("RegisterLesson", "Course", FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group mt-3">
                            @Html.TextBoxFor(m => m.LessonTitle, new
                                {
                                    @class = "form-control",
                                    placeholder = "Titulo de la clase",
                                    @type = "text",
                                    @required = "true",
                                    @style = "height: 76px; font-size: 16px"
                                })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mt-3">
                            @Html.TextBoxFor(m => m.LessonDescription, new
                                {
                                    @class = "form-control",
                                    placeholder = "Descripción de la clase",
                                    @type = "text",
                                    @required = "true",
                                    @style = "height: 76px; font-size: 16px"
                                })
                        </div>
                    </div>
                    @Html.Hidden("CourseID", courseId)

                    <div class="text-center mt-5"><button type="submit" class="agregarButton">Siguiente</button></div>

                    @if (ViewBag.MsjPantalla != null)
                    {
                        <div class="alert alert-warning" role="alert" style="text-align:center">
                            @ViewBag.MsjScreen
                        </div>
                    }
                }

                </>

            </div>

        </div>
    </section><!-- End Contact Section -->

</div><!-- End #main -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

