@model List<SistemaEducacion.WebEntities.Course>

@{
    ViewData["Title"] = "Cursos";
}

<div id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs mt-0" data-aos="fade-in">
        <div class="container">
            <h1>Clases</h1>
            <h3>Aquí encontrarás todas tus clases!!</h3>
        </div>
    </div><!-- End Breadcrumbs -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="https://www.brookings.edu/wp-content/uploads/2022/05/Digital-credentials_cover-image_reduced-size.jpg" class="img-fluid" alt="">
                    <h3>Título del Curso</h3>
                    <p>
                        Descripción del Curso
                    </p>
                </div>
                <div class="col-lg-4">

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Estado</h5>
                        <p><a href="#">Activo</a></p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Fecha de Inicio</h5>
                        <p>00/00/0000</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Fecha Finalización</h5>
                        <p>00/00/0000</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-img">
                                <img src="@item.MiniPictureUrl" alt="..." width="100%">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">@item.LessonDescription</a></h5>
                                <p>@ViewBag.Profesor</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section><!-- End Events Section -->
</div><!-- End #main -->